$color: #2a5fe1;
$paragraph: #132c66;
$feature: #e8ebf4;
@mixin setColor($color) {
    color: $color !important;
}

@mixin setBefore($color) {
    &:before {
        color: $color !important;
    }
}

.navbar-app {
    padding: 0px !important;
    margin-top: 0px !important;
}

.container {
    h2 {
        @include setColor($color);
    }
    h3 {
        @include setColor($color);
    }
    h4 {
        @include setColor($color);
    }
    p {
        @include setColor($paragraph);
    }
}

.section-lending-benefit {
    padding: 0px 2rem;
    margin-bottom: 6rem;
    text-align: center;
    .container {
        .benefit {
            margin-bottom: 4rem;
        }
        span {
            @include setColor($color);
            font-size: 1.5rem;
        }
    }
}

.scroll-menu {
    .content {
        .nav {
            .nav-item {
                .nav-tab-item {
                    &:hover,
                    &:focus,
                    &:active,
                    &.selected {
                        @include setColor($paragraph);
                        &:before {
                            content: " ";
                            background-color: $color;
                        }
                    }
                }
            }
        }
    }
}

#content-banner {
    p {
        margin: 0px;
    }
}

.section-app-feature {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.section-app-detail-carousel {
    margin-top: -2rem;
}

.heading {
    h1 {
        font-weight: 300;
        margin-bottom: 0.75rem;
        font-size: 2.5rem;
        @include setColor($color)
    }
    ul {
        li {
            @include setColor($paragraph)
        }
    }
}

.cover-app {
    padding-top: 5% !important;
    .heading {
        margin-top: 10%;
        width: 100%;
    }
    .container {
        img {
            margin-top: -10% !important;
        }
    }
    .py-main {
        padding-bottom: 0px !important;
    }
}

.slider-nav {
    .slick-prev {
        @include setBefore($color);
    }
    .slick-next {
        @include setBefore($color);
    }
}

.slick-dots-solid {
    .slick-dots {
        li {
            &.slick-active {
                button {
                    &:before {
                        border: 2px $color solid;
                    }
                }
            }
        }
    }
}

.pl-3 {
    &.pr-3 {
        width: 300px;
    }
}

.background-left {
    background-color: $feature;
}

@media only screen and (max-width: 500px) {
    .cover-app {
        padding-top: 20% !important;
        .content {
            margin-top: -1rem !important;
            .mobile-center {
                text-align: center !important;
            }
            .content-banner {
                margin-top: 2rem !important;
            }
        }
    }
    .mobile-justify {
        text-align: justify !important;
    }
    .pl-3 {
        &.pr-3 {
            width: 100%;
            margin-bottom: 4rem;
        }
    }
    .section-app-feature {
        .heading {
            width: 100%;
        }
        .main-wrapper-image {
            img {
                margin-left: 0px !important;
            }
        }
        .container-content {
            padding: 0px;
            border-bottom: none !important;
        }
    }
    .section-lending-benefit {
        .container {
            .benefit {
                margin-bottom: 0px;
            }
        }
    }
}